<span class="icon"><i class="fab fa-raspberry-pi" aria-hidden="true"></i></span><span class="title">@T["Raspberry Pi"]</span>
                                                                          